* { box-sizing: border-box; }

#scenario {
  width: 100%;
  height: 800px;
  overflow-x: hidden;
  background: gray;
  border: thin solid black;
  scroll-behavior: smooth;

  position: relative;
}

#player {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#enemy {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 80%;
}

#enemy2 {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 80%;
}
